@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  color: #000000;
  font-style: normal;
}
.loading {
  color: white;
  padding: 15px;
}
.app {
  width: 1179px;
  height: 787px;
  background: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -448px 0px;
}

.selectionMenu {
  position: absolute;
  width: 369px;
  height: 49px;
  left: 18px;
  top: 25px;
  background: #000000;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.selectionLabel {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}

.polygon {
  position: absolute;
  right: 15px;
  top: 20px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 11px solid #fff;
  border-bottom: none;
  background: transparent;
  cursor: pointer;
}

.menuOptions {
  display: none;
  position: absolute;
  width: 369px;
  left: -1px;
  top: 47px;
  background: #000000;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  z-index: 999;
}

.menuOptionsActive {
  display: block;
}

.shipName {
  font-size: 18px;
  line-height: 21px;
  margin: 8px 15px;
  color: #ffffff;
  background: none;
  border: none;
}

.infoDisplay {
  position: absolute;
  width: 369px;
  height: 398px;
  left: 18px;
  top: 91px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  text-align: center;
}

.infoDisplay h2,
.passengersDisplay h2 {
  font-size: 36px;
  line-height: 42px;
  margin-top: 16px;
}

.infoDisplay p {
  font-size: 18px;
  line-height: 21px;
}

.infoDisplay hr,
.passengersDisplay hr {
  width: 321px;
  height: 0px;
  border: 1px solid #000000;
  background-color: #000000;
  transform: rotate(0.21deg);
  margin: 0 auto;
  margin-top: 9px;
  margin-bottom: 19px;
}

.infoDisplay h3 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 23px;
}

.passengersDisplay {
  position: absolute;
  width: 369px;
  left: 18px;
  top: 498px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  text-align: center;
}
